* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Lexend", sans-serif;
  }
  
  body {
    font-size: 14px;
    background-color: rgb(252, 232, 208);
    color: rgb(231, 141, 141);

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  img {
    width: 100%;
    border-radius: 10px;
  }

  .header {
    display: flex;
    flex-direction: row;
    height: 10%;
    max-height: 250px;
    width: 65%;
    padding: 1rem 1rem 0 1rem;
    gap: 0.5rem;
    align-self: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .logo {
    height: 200px;
    width: 200px;
    border: solid 4px;
    border-radius: 50%;
  }

  .logo:hover {
    opacity: 60%;
    cursor: pointer;
  }

  h3:hover {
    opacity: 60%;
    cursor: pointer;
  }

  .content {
    margin-top: 2rem;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .gallery {
      display: flex;
      flex-direction: column;
      width: 70%;
      gap: 3rem;
  
      .image {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
  
      .location {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        iframe {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
      }
    }
  }

  .footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

 

  @media screen and (max-width: 1100px) {
    .gallery {
      width: 75%;
    }

    .header {
      width: 80%;
    }
  }

  @media screen and (max-width: 900px) {
    .gallery {
      width: 80%;
    }

    .header {
      width: 85%;
    }
  }

  @media screen and (max-width: 500px) {
    .gallery {
      width: 85%;
    }

    .header {
      width: 90%;
    }
  }


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(235, 187, 187);
  }
  
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(231, 141, 141); 
  }